*{
    margin: 0%;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  }
  body{ margin: 0pxp; padding: 0px;}
  
  /* propriétés du header1 */
  div img{width: 170px;margin-left: 8cm;margin-top: 1cm;}
  .header1{display: flex;}
  .header1 h1{margin-left: 1cm;margin-top: 1cm;font-size: 400%;}
  .header1 h2{margin-top: 3.5cm;margin-left: -11cm;font-weight: 450;font-size: 1cm;}
  .header1 h3{margin-left:20cm ;margin-top: 3.5cm;font-weight: 450;font-size: 1cm;}
  .header1 .imag2{margin-left:1cm ;height: fit-content;}
  /* propriétés du header2 */
  .header2 {background-color: #002A40;padding-bottom: 2cm;}
  .header2 nav ul{display: flex;margin-left: 11cm;}
  .header2 li{list-style: none;margin-left: 2cm;margin-top: 1.5cm;}
  .header2 a{text-decoration: none;color: white;font-size: 1cm;font-weight: 400;list-style: none; }
  .header2 a:hover{background-color: #01111a;opacity: 80%; padding-top:1.5cm;padding-bottom: 2cm;padding-left: 2cm;color:rgb(250, 250, 250);padding-right: 1cm;cursor: pointer;}
  
  /* propriétés du footer */
footer{background-color: #01111a;padding-top: 2cm;padding-bottom: 2cm;}
.div_footer{display: flex;}
.imglogo{width: 300px;height: 6cm;}
.div_footer h1{color: white; margin-left: 8cm;font-size: 1cm;}
.div_footer h2{ color: white;margin-left: 3cm; font-size: 1cm;margin-top: 2cm;}
.p_service{color: white; font-size: 200%;margin-left: 8cm;}
.p_footer{font-size: 200%;margin-left: 3cm;margin-top: 2cm; color: white;}
.div_img{display: flex;margin-left: 1.5cm;}
.res{width: 50px;height: 50px;margin-left: 1cm;}
.p_mention{margin-left: 3cm; font-size: 200%; color: white;}
.hr_footer{width: 55cm;margin-top: 4cm; margin-left: 5cm;}
.foot_footer{margin-top: 1cm;width: 50cm;text-align: center;font-size: 250%;margin-left: 6cm;color: white;}


  